.uploadBox {
  margin-bottom: 24px;
}

.dropArea {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 160px;
  border: 2px dashed #bbb;
  border-radius: 14px;
  cursor: pointer;
  background: #fafafa;
}

.dropArea strong {
  font-size: 18px;
}

.dropArea span {
  font-size: 14px;
  color: #666;
}